<a href="https://colab.research.google.com/github/mjkimcs/portfolio/blob/main/1_0_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B2%A0%EC%9D%B4%EC%8A%A4%EC%99%80_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터베이스
1. RDB (관계형 데이터베이스): 테이블 형태
  * MySQL, Oracle
2. NoSQL (비관계형 데이터베이스)
  * json

DB(데이터베이스)?   
데이터를 모아놓는 저장소  
  
DBMS?   
DB를 관리하는 소프트웨어  
  
RDB(관계형 데이터베이스)?  
로우(행)와 컬럼(열)으로 이루어져 있는 테이블 형태의 DB   
  
Non-RDB(NoSQL)?  
방대한 실시간 데이터를 처리하기 위하여 구조가 유연한 DB  
    
PK(Primary Key, Key Value, 키값)?  
고유한 값  
    
ERD(Entity Relationship Diagram)?  
데이터들 사이의 관계 그림  
  
스키마?  
정보

## SQL (Structured Qery Language)
* RDB와 소통하기 위한 언어
* SQL 언어로 데이터베이스와 통신
* Sqlite: MySQL의 lite한 버전

## Qery
* 질의
* DB에 무언가를 요청하는 행위
* 데이터베이스에 요청하고 응답받기
* 데이터베이스 값을 불러오기, 수정, 삽입, 테이블생성 등 모든작업

## 데이터 타입
1. 문자: char, string
2. 숫자: numeric, int(정수 100), float(소수 100.0)
3. 날짜와 시간: date, time, datetime, timestamp(UTC 국제표준시간)

맨하튼에 있는 50달러 이상 150달러 이하 숙소 찾아보기  

    SELECT id, name, neighbourhood_group, neighbourhood, room_type, price
    FROM `1.airbnb`
    WHERE neighbourhood_group = 'Manhattan'
    AND price >= 50
    AND price <= 150

    AND price BETWEEN 50 AND 150

맨하튼에 있는 100달러 미만이면서, Midtown이거나 SoHo에 있는 숙소 찾아보기  

    SELECT FROM WHERE AND
    AND (neighbourhood = 'Midtown' OR neighbourhood = 'SoHo')

    AND neighbourhood IN ('Midtown', 'SoHo')

맨하튼에 있는 100달러 미만이면서, 미드타운이나 소호에 있는 숙소는 싫어  

    SELECT FROM WHERE AND
    AND neighbourhood != 'Midtown'
    AND neighbourhood != 'SoHo'

    AND neighbourhood NOT IN ('Midtown', 'SoHo')

리뷰가 있는 숙소만 골라보기  

    SELECT id, name, neighbourhood, room_type, price, number_of_reviews, last_review
    FROM `1.airbnb`
    WHERE last_review IS NOT NULL

테라스 없는 숙소 찾아보기  

    SELECT FROM
    WHERE LOWER(name) NOT LIKE '%terrace%'

결측치 확인(id_count 빼기 last_review_count)  

    SELECT COUNT(id) AS id_count, COUNT(last_review) AS last_review_count
    FROM `1.airbnb`

-> COUNT는 해당 컬럼에 비어 있는 데이터(NULL)는 카운트 X  
-> COUNT(*) AS row_count

중복 데이터 확인(id_count 빼기 unique_id_count)    

    SELECT COUNT(id) AS id_count, COUNT(DISTINCT id) AS unique_id_count
    FROM `1.airbnb`