<a href="https://colab.research.google.com/github/mjkimcs/portfolio/blob/main/%EC%9A%A9%EC%96%B4%EC%A0%95%EB%A6%AC/any_ord_eval_join_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def Test01():
  listdata = [2,2,1,3,8,4,3,9,2,20]
  result = sum(listdata)
  print(result)

def Test02():
  listdata = (2,2,1,3,8,4,3,9,2,20)
  result = listdata[1::2]
  print(result)
  print(sum(result))

def Test03():
  a = [2,1,4,6,7,8,9,10,3]
  result = sum(range(1,11)) - sum(a)
  print(result)


if __name__ == '__main__':
  Test01()
  Test02()
  Test03()

54
(2, 3, 4, 9, 20)
38
5

In [ ]:
def Test04(): # all(): and연산(다True), any(): or연산(하나만True)
  listdata1 = [True, True, True]
  listdata2 = [True, False, True]
  print(all(listdata1)) # True
  print(all(listdata2)) # False
  print(any(listdata1)) # True
  print(any(listdata2)) # True

if __name__ == '__main__':
  Test04()

True
False
True
True

In [ ]:
def Test05(): # all(): and연산(다True), any(): or연산(하나만True)
  listdata1 = [1, 1, 1]
  listdata2 = [1, 0, 1]
  print(all(listdata1)) # True
  print(all(listdata2)) # False
  print(any(listdata1)) # True
  print(any(listdata2)) # True

if __name__ == '__main__':
  Test05()

True
False
True
True

In [ ]:
import string

def Test06():
  print(ord("A")) # 컴퓨터가 인식할 수 있는 코드값으로 변환
  print(string.ascii_uppercase, type(string.ascii_uppercase))
  print(string.ascii_lowercase)
  print(string.digits)

if __name__ == '__main__':
  Test06()

65
ABCDEFGHIJKLMNOPQRSTUVWXYZ <class 'str'>
abcdefghijklmnopqrstuvwxyz
0123456789

In [ ]:
import string

def Test07():
  for i in string.ascii_uppercase:
    print(i, "-->", ord(i))


if __name__ == '__main__':
  Test07()

A --> 65
B --> 66
C --> 67
D --> 68
E --> 69
F --> 70
G --> 71
H --> 72
I --> 73
J --> 74
K --> 75
L --> 76
M --> 77
N --> 78
O --> 79
P --> 80
Q --> 81
R --> 82
S --> 83
T --> 84
U --> 85
V --> 86
W --> 87
X --> 88
Y --> 89
Z --> 90

In [ ]:
import string

def Test07():
  for i in string.ascii_lowercase:
    print(i, "-->", ord(i))


if __name__ == '__main__':
  Test07()

a --> 97
b --> 98
c --> 99
d --> 100
e --> 101
f --> 102
g --> 103
h --> 104
i --> 105
j --> 106
k --> 107
l --> 108
m --> 109
n --> 110
o --> 111
p --> 112
q --> 113
r --> 114
s --> 115
t --> 116
u --> 117
v --> 118
w --> 119
x --> 120
y --> 121
z --> 122

In [ ]:
def Test08():
  print(chr(65)) # 숫자에 해당하는 문자를 리턴
  for i in range(65,91):
    print(i, "-->", chr(i))


if __name__ == '__main__':
  Test08()

A
65 --> A
66 --> B
67 --> C
68 --> D
69 --> E
70 --> F
71 --> G
72 --> H
73 --> I
74 --> J
75 --> K
76 --> L
77 --> M
78 --> N
79 --> O
80 --> P
81 --> Q
82 --> R
83 --> S
84 --> T
85 --> U
86 --> V
87 --> W
88 --> X
89 --> Y
90 --> Z

In [ ]:
def Test():
  a = "2+3"
  print(a, type(a))
  print(eval(a)) # 문자열로 주어진 숫자를 연산

  res = "24+256-(71*34)"
  print(res, "=", eval(res))


if __name__ == '__main__':
  Test()

2+3 <class 'str'>
5
24+256-(71*34) = -2134

In [ ]:
"::".join(["ab", "bc", "1"])

'ab::bc::1'

In [ ]:
" -> ".join(("ab", "bc"))

'ab -> bc'

In [ ]:
def Test():
  a = [34, 22, 45, 27, 31, 33, 35]
  
  b = []
  for i in a:
    b.append(str(i))
  print(b)
  
  bond = "+"
  result = bond.join(b)
  print(result)

  print(result, "=", eval(result))


if __name__ == '__main__':
  Test()

['34', '22', '45', '27', '31', '33', '35']
34+22+45+27+31+33+35
34+22+45+27+31+33+35 = 227

In [ ]:
import csv

def Test02():
  file = open("ee.csv", "rt") # 1행만 데이터가 있는 파일
  res = csv.reader(file)
  print(res, type(res))

  for i in res: # 이렇게 데이터를 불러옴
    print(i)


if __name__ == '__main__':
  Test02()

<_csv.reader object at 0x7fbc338fb8d0> <class '_csv.reader'>
['34', '22', '45', '27', '31', '33', '35']

In [ ]:
import csv

def Test02():
  file = open("ee.csv", "rt")
  res = csv.reader(file)
  print(res, type(res))

  b = []
  for i in res:
    b.append(i)
  print(b)

  bond = '+'
  result = bond.join(b[0])
  print(result, "=", eval(result))


if __name__ == '__main__':
  Test02()

<_csv.reader object at 0x7fbc337b7cd0> <class '_csv.reader'>
[['34', '22', '45', '27', '31', '33', '35']]
34+22+45+27+31+33+35 = 227

In [ ]:
import csv

def Test03():
  file = open("data.csv", "rt", encoding="cp949") # encoding # 파이참에서는 encoding="utf-8"
  res = csv.reader(file)
  print(res, type(res))

  for i in res:
    print(i)


if __name__ == '__main__':
  Test03()

<_csv.reader object at 0x7fbc33783dd0> <class '_csv.reader'>
['34', ' 홍길']
['22', ' 정길']
['45', ' 동길']
['27', ' 김길']
['31', ' 기길']
['33', ' 원길']
['35', ' 이길']

In [ ]:
import csv

def Test03():
  file = open("data.csv", "rt", encoding="cp949") # encoding # 파이참에서는 encoding="utf-8"
  res = csv.reader(file, delimiter=' ') # delimiter 값(여기에서는 공백)을 쉼표로 분리
  print(res, type(res))

  for i in res:
    print(i)


if __name__ == '__main__':
  Test03()

<_csv.reader object at 0x7fbc338fb8d0> <class '_csv.reader'>
['34,', '홍길']
['22,', '정길']
['45,', '동길']
['27,', '김길']
['31,', '기길']
['33,', '원길']
['35,', '이길']

In [ ]:
import csv

def Test04():
  file = open("data.csv", "rt", encoding="cp949") # encoding # 파이참에서는 encoding="utf-8"
  res = csv.reader(file)
  print(res, type(res))

  b = []
  name = []
  for i in res:
    b.append(i[0]) # 0번지만 가져옴
    name.append(i[1])
  print("b 확인>>", b)
  
  bond = "+"
  result= bond.join(b)
  print(result, "=", eval(result))
  
  print(name)
  return name

def Test05():
  print("===============================")
  name = Test04()
  print("이거 확인>>", name)


if __name__ == '__main__':
  Test04()
  Test05()

<_csv.reader object at 0x7fbc337836d0> <class '_csv.reader'>
b 확인>> ['34', '22', '45', '27', '31', '33', '35']
34+22+45+27+31+33+35 = 227
[' 홍길', ' 정길', ' 동길', ' 김길', ' 기길', ' 원길', ' 이길']
===============================
<_csv.reader object at 0x7fbc337836d0> <class '_csv.reader'>
b 확인>> ['34', '22', '45', '27', '31', '33', '35']
34+22+45+27+31+33+35 = 227
[' 홍길', ' 정길', ' 동길', ' 김길', ' 기길', ' 원길', ' 이길']
이거 확인>> [' 홍길', ' 정길', ' 동길', ' 김길', ' 기길', ' 원길', ' 이길']

In [ ]:
def Test04():
  file = open("data.csv", "rt",encoding="cp949") # encoding # 파이참에서는 encoding="utf-8"
  res = csv.reader(file)
  print(res, type(res))

  name = []
  for i in res:
    name.append(i[1])
  print(name)
  return name

def Test06():
  name = Test04()
  file = open("data.csv", "wt", encoding="cp949")
  csv_writer = csv.writer(file)
  csv_writer.writerow(name)

if __name__ == '__main__':
  Test06()

<_csv.reader object at 0x7fbc33783ad0> <class '_csv.reader'>
[' 홍길', ' 정길', ' 동길', ' 김길', ' 기길', ' 원길', ' 이길']

In [ ]:
def Test04():
  file = open("data.csv", "rt", encoding="cp949") # encoding # 파이참에서는 encoding="utf-8"
  res = csv.reader(file)
  print(res, type(res))

  name = []
  for i in res:
    name.append(i[1])
  print(name)
  return name

def Test06():
  name = Test04()
  file = open("data.csv", "wt", encoding="cp949")
  csv_writer = csv.writer(file, lineterminator='\n\n\n')
  for i in name:
    csv_writer.writerow(i)

if __name__ == '__main__':
  Test06()

<_csv.reader object at 0x7fbc337836d0> <class '_csv.reader'>
[' 홍길', ' 정길', ' 동길', ' 김길', ' 기길', ' 원길', ' 이길']

In [112]:
import csv

def csv_reader():
    f = open("data04.csv", "rt")
    try:
        reader = csv.reader(f)
        for i in reader:
            print(i)
    finally:
        f.close()


def csv_reader02():
    f = open("data04.csv", "rt")
    try:
        reader = csv.DictReader(f) # dict형으로 리턴 # csv파일의 첫 행이 키
        for i in reader:
            print(i)
    finally:
        f.close()

def csv_writer():
    f = open("result.csv", "wt", newline="\n") # newline="\n"을 해주면 줄바꿈이 일반적으로 나타남
    try:
        writer = csv.writer(f, quoting=csv.QUOTE_NONNUMERIC) # 숫자를 제외하고 더블쿼터
        writer.writerow(('Title 1', 'Title 2', 'Title3'))
        for i in range(6):
            writer.writerow((i+1, chr(ord('a')+i), "2021/%d/07"%(i+1)))
    finally:
        f.close()
    print(open("result.csv", "rt").read())


if __name__ == '__main__':
    csv_reader()
    csv_reader02()
    csv_writer()

['no', 'title', 'reg_year', 'reg_month', 'reg_date']
['1', 'java', '2012', '7', '12']
['2', 'spring', '2013', '8', '13']
['3', 'oracle', '2014', '9', '14']
['4', 'python', '2015', '10', '15']
['5', 'struct2', '2016', '11', '16']
OrderedDict([('no', '1'), ('title', 'java'), ('reg_year', '2012'), ('reg_month', '7'), ('reg_date', '12')])
OrderedDict([('no', '2'), ('title', 'spring'), ('reg_year', '2013'), ('reg_month', '8'), ('reg_date', '13')])
OrderedDict([('no', '3'), ('title', 'oracle'), ('reg_year', '2014'), ('reg_month', '9'), ('reg_date', '14')])
OrderedDict([('no', '4'), ('title', 'python'), ('reg_year', '2015'), ('reg_month', '10'), ('reg_date', '15')])
OrderedDict([('no', '5'), ('title', 'struct2'), ('reg_year', '2016'), ('reg_month', '11'), ('reg_date', '16')])
"Title 1","Title 2","Title3"
1,"a","2021/1/07"
2,"b","2021/2/07"
3,"c","2021/3/07"
4,"d","2021/4/07"
5,"e","2021/5/07"
6,"f","2021/6/07"