<a href="https://colab.research.google.com/github/mjkimcs/portfolio/blob/main/%EC%9A%A9%EC%96%B4%EC%A0%95%EB%A6%AC/%EB%B0%98%EB%B3%B5%EB%AC%B8_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
k = 5
while k >= 1:
    print(k)
    k -= 1
else:
    print("done")

5
4
3
2
1
done

In [ ]:
l = [1,2,3,4,5,6]
for i in l:
  print(i, end="\t")

1	2	3	4	5	6

In [ ]:
T = [(1,2),(3,4),(5,6),(7,8),(9,10)]
for (i, j) in T:
  print(i, j, end="\t")

1 2	3 4	5 6	7 8	9 10

In [ ]:
T = [(1,2),(3,4),(5,6),(7,8),(9,10)]
for i in T:
  print(i, end="\t")

(1, 2)	(3, 4)	(5, 6)	(7, 8)	(9, 10)

In [ ]:
dict = {'x':1, 'y':2, 'z':3}
for i in dict:
  print(i, "-", dict[i], end="\t")

x - 1	y - 2	z - 3

In [ ]:
r = list(range(10))
print(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
r = list(range(2, 20, 3)) # 2~19
print(r)

[2, 5, 8, 11, 14, 17]

In [ ]:
for i in range(2, 20, 3):
  print(i)

2
5
8
11
14
17

In [13]:
fruit = ['apple', 'watermelon', 'peach', 'pear']
for i in enumerate(fruit):
  print(i) # 튜플로 리턴

(0, 'apple')
(1, 'watermelon')
(2, 'peach')
(3, 'pear')

In [ ]:
fruit = ['apple', 'watermelon', 'peach', 'pear']
for i in enumerate(fruit, 1):
  print(i) # 튜플로 리턴

(1, 'apple')
(2, 'watermelon')
(3, 'peach')
(4, 'pear')

In [4]:
for i in range(1,10):
  if i > 5:
    break
  else:
    print("\n if else 영역")
    print("%5d"%i, end=" ")
else: # for문이 False인 경우에만 실행됨
  print("\n for else 영역")

 if else 영역
    1
 if else 영역
    2
 if else 영역
    3
 if else 영역
    4
 if else 영역
    5

In [5]:
for i in range(1,10):
  print("%5d"%i, end=" ")
else: # for문이 False인 경우에만 실행됨
  print("\n for else 영역")

    1     2     3     4     5     6     7     8     9
 for else 영역

In [10]:
for i in range(1,10):
  if i > 5:
    continue
  else:
    print("\n if else 영역")
    print("%5d"%i, end=" ")
else: # for문이 False인 경우에만 실행됨
  print("\n for else 영역")

 if else 영역
    1
 if else 영역
    2
 if else 영역
    3
 if else 영역
    4
 if else 영역
    5
 for else 영역

In [16]:
for i in range(1,10):
  if i == 5:
    continue
  print("%5d"%i, end=" ")
else: # for문이 False인 경우에만 실행됨
  print("\n for else 영역")

    1     2     3     4     6     7     8     9
 for else 영역

In [17]:
for i in range(1,5):
  print("exe")

exe
exe
exe
exe

In [19]:
for i in range(1,5):
  print("구분")
  for j in range(1,3):
    print("exe")

구분
exe
exe
구분
exe
exe
구분
exe
exe
구분
exe
exe

In [29]:
for i in range(1,5):
  for j in range(1,3):
    print("%d, %d"%(i, j))
  print("=====")

1, 1
1, 2
=====
2, 1
2, 2
=====
3, 1
3, 2
=====
4, 1
4, 2
=====

In [32]:
for i in range(1,5):
  for j in range(1,3):
    print("i = %d, j = %d"%(i, j))
  print("=============")

i = 1, j = 1
i = 1, j = 2
=============
i = 2, j = 1
i = 2, j = 2
=============
i = 3, j = 1
i = 3, j = 2
=============
i = 4, j = 1
i = 4, j = 2
=============

In [34]:
for i in range(1,6):
  for j in range(1,6):
    print("%10d"%i)

         1
         1
         1
         1
         1
         2
         2
         2
         2
         2
         3
         3
         3
         3
         3
         4
         4
         4
         4
         4
         5
         5
         5
         5
         5

In [35]:
for i in range(1,6):
  for j in range(1,6):
    print("%10d"%j)

         1
         2
         3
         4
         5
         1
         2
         3
         4
         5
         1
         2
         3
         4
         5
         1
         2
         3
         4
         5
         1
         2
         3
         4
         5

In [36]:
for i in range(1,6):
  for j in range(1,6):
    print("%10d\t"%j)

         1
         2
         3
         4
         5
         1
         2
         3
         4
         5
         1
         2
         3
         4
         5
         1
         2
         3
         4
         5
         1
         2
         3
         4
         5

In [40]:
for i in range(1,6):
  for j in range(1,6):
    print("%10d"%j, end="\t")
  print()

         1	         2	         3	         4	         5
         1	         2	         3	         4	         5
         1	         2	         3	         4	         5
         1	         2	         3	         4	         5
         1	         2	         3	         4	         5