<a href="https://colab.research.google.com/github/mjkimcs/portfolio/blob/main/SQL/Python_cx_Oracle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import cx_Oracle

def Create_Table():
    dsn = cx_Oracle.makedsn("localhost", 1521, 'xe')
    db = cx_Oracle.connect('SCOTT', 'TIGER', dsn)
    cur = db.cursor()

    sql_cmd = "CREATE TABLE Test_mydb(id number, name varchar2(20))"
    cur.execute(sql_cmd)
    db.close()

def Insert_m():
    dsn = cx_Oracle.makedsn("localhost", 1521, 'xe')
    db = cx_Oracle.connect('SCOTT', 'TIGER', dsn)
    cur = db.cursor()

    cur.execute("INSERT INTO TEST_MYDB VALUES('1','PYTHON')")
    cur.execute("INSERT INTO TEST_MYDB VALUES('2','PYTHON2')")
    cur.execute("INSERT INTO TEST_MYDB VALUES('3','PYTHON3')")
    cur.execute("INSERT INTO TEST_MYDB VALUES('4','PYTHON4')")
    db.commit()
    db.close()

def Select_all():
    dsn = cx_Oracle.makedsn("localhost", 1521, 'xe')
    db = cx_Oracle.connect('SCOTT', 'TIGER', dsn)
    cur = db.cursor()

    cur.execute("select * from Test_mydb")
    result = cur.fetchall()
    for row in result:
        print(str(row[0]) + " " + row[1])
    cur.close()
    db.close()


if __name__ == '__main__':
    Create_Table()
    Insert_m()
    Select_all()

In [ ]:
import cx_Oracle

class MyClass:
    def __init__(self):
        self.dsn = cx_Oracle.makedsn("localhost", 1521, 'xe')
        self.db = cx_Oracle.connect('SCOTT', 'TIGER', self.dsn)
        self.cur = self.db.cursor()

    def Create_Table(self):
        sql_cmd = "CREATE TABLE Test_MYDB(id number, name varchar2(20))"
        self.cur.execute(sql_cmd)
        self.db.close()

    def insert_m(self):
        self.cur.execute("insert into test_mydb values('1','python1')")
        self.cur.execute("insert into test_mydb values('2','python2')")
        self.cur.execute("insert into test_mydb values('3','python3')")
        self.cur.execute("insert into test_mydb values('4','python4')")
        self.db.commit()
        self.db.close()

    def select_all(self):
        self.cur.execute("select * from Test_mydb")
        result = self.cur.fetchall()
        for row in result:
            print(str(row[0]) + " " + row[1]);
        self.cur.close()
        self.db.close()

    # def __del__(self):
    #     self.db.close()


if __name__ == '__main__':
    test = MyClass()
    # test.Create_Table()
    # test.insert_m()
    test.select_all()